.navbar {
    background-color: #5e8c7a;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: white
}

nav{
    position: center;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.myasweomedropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.myasweomedropdown .superbutton {
    font-size: 22px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .myasweomedropdown:hover .superbutton {
    background-color: #82b491;
}

/* Dropdown content (hidden by default) */
.dropdown_items {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown_items a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown_items a:hover {
    background-color: #ffdb85;
}

/* Show the dropdown menu on hover */
.myasweomedropdown:hover .dropdown_items {
    display: block;
}

.profile_button{
    font-size: 22px;
    color: white;
    padding-right: 10px;
}

.btn{
    background-color: #5e8c7a;
    border-color: #5e8c7a;
}

.play_button {
    background: none;
    color: white;
    border: 8px solid #ffc947;
    transition-duration: 0.2s;
    border-radius: 35px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    padding: 4px 32px;
    text-decoration: none;
    position: absolute;
    bottom: 400px;
    right: 860px;
    z-index: 2;
}

.play_button:hover {
    background-color: #ffc947;
    color: white;
}

h1 {
    font-size: 100px;
    z-index: 2;
}

.carousel-item img {
    width:1700px;
    height: 854px;
}

.quote {
    position: absolute;
    z-index: 3;
    right: 425px;
}

.item {
    display: none;
    position: relative;
.transition(.4s ease-in-out left);
}



