<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title> Glober Game Page </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/game_style_sheet.css" type="text/css" th:href="@{/css/game_style_sheet.css}">
</head>
<body style="background-color:#F7FEFB;">

<nav>
    <div class="navbar px-1 d-flex flex-row" >
        <div class="myasweomedropdown">
            <button class="superbutton">MENU
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown_items">
                <a th:href="@{/index}">HOME</a>
                <a th:href="@{/play}">PLAY</a>
                <a th:href="@{/profile}">PROFILE</a>
                <a th:href="@{/about}">ABOUT</a>
                <a th:href="@{/showBugReportForm}">REPORT A BUG</a>
            </div>
        </div>
        <div class="glober_title"> GLOBER </div>
        <a th:href="@{/profile}">PROFILE</a>
    </div>
</nav>

    <div class="text-center" id = "round"></div>

    <div id="pano"></div>

    <div id="map"></div>

    <div id = 'buttons' class="container"  >
        <div >
            <button type="button" class="btn btn-primary btn-lg btn btn-dark" onclick = check() id="check">GUESS</button>
        </div>
    </div>

    <div id="placeholder1" class="hide_until_guessed">
        <div class = 'container' id="result"></div>
        <div class="result_container">
            <div id = 'center' class="container">
                <div id="location"></div>
                <div id="distance"></div>
            </div>
            <div id = 'info'>
                <footer id="totaldistance"></footer>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn btn-dark" onclick = initialize() id="next">Next Location</button>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="../static/js/glober_gameplay.js" type="text/javascript" th:src="@{/js/glober_gameplay.js}"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhzg8Scjd0qVKXJpXMzIf2fVm2eehJDLI&callback=initialize">
</script>

</body>
</html>